@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.link-style {
  @apply font-semibold;
}

.primary_btn {
  @apply p-2 cursor-pointer border-gray-400 rounded-md bg-blue-500 hover:bg-blue-300;
}

.secondary_btn {
  @apply p-2 cursor-pointer border-gray-400 rounded-md bg-gray-500 hover:bg-gray-300;
}

.dropdown {
  position: absolute;
  width: 120px;
  right: 6.5rem;
  top: 4rem;
  background-color: white;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 15px;
  font-size: medium;
  font-weight: 500;
}

.dropdown:hover {
  cursor: pointer;
  box-shadow: 0 0 10px gray;
  transition: 0.5s;
}

.dropdown::before {
  content: "";
  position: absolute;
  top: -0.7rem;
  right: 1.1rem;
  width: 20px;
  height: 20px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}
